<h1> Welcome to news portal</h1>

<select class='form-control' name="sources" id="sources">
  <option value="">Select Sources</option>
</select>
<div class='container' style="padding-top: 60px;">
  <div class='row show-news'>

  </div>

</div>
