<div class="container">
  <div class="col-md-12">
  <div id="logbox">
    <!-- {{# if success}}
      <section class='success'>
        <h2>Successful Validation...!</h2>
      </section>
      {{ else }}
        {{# if errors}}
          <section>
            <ul class='errors'>
              {{# each errors}}
              <li>
                {{ this.msg}}
              </li><br />
              {{/each}}
            </ul>
          </section>
        {{/if}}
      {{/if}} -->

    <form method="post" action="/signup/registration" enctype="multipart/form-data">
      <h1>create an account</h1>
      <input name="name" type="text" placeholder="What's your name?" class="input pass"/>
      <input name="email" type="text" placeholder="Email address" class="input pass"/>
      <input type="file" name="profileImage" class="input pass">
      <input name="password" type="password" placeholder="Choose a password" class="input pass"/>
      <input name="password2" type="password" placeholder="Confirm password" class="input pass"/>
      <input type="submit" value="Sign me up!" class="inputButton"/>
      <div class="text-center">
          already have an account? <a href="/login" id="login_id">login</a>
      </div>
    </form>
  </div>
</div>
</div>
